# Перенаправление URL
RewriteEngine ON

#AddType application/x-httpd-php .mp3

<IfModule mod_mime.c>
    AddType audio/mpeg .mp3
    AddType application/x-httpd-php .mp4
</IfModule>

# Указываем индексные файлы
DirectoryIndex index.html
